#side_scroller {
    width: 500px;
    height: 300px;
    border: black 3px;
}

#hero {
    width: 30px;
    height: 100px;
    background-color: black;
    position: relative;
    top: 300px;
}

@keyframes jump{
    0%{top: 150px;}
    50%{top: 100px}
    100%{top: 150px}
}

#block {
    width: 30px;
    height: 30px;
    background-color: aqua;
    position: relative;
    top: 170px;
    left: 470px;
    animation: block 1s infinite linear;
}

@keyframes block{
    0%{left: 470px;}
    100%{left: -40px;}
}